# Core Dependencies
pandas>=1.5.0,<2.0.0  
requests>=2.26.0
gspread>=6.0.0
oauth2client>=4.1.0
python-telegram-bot==20.0
python-dotenv>=1.0.0
beautifulsoup4>=4.10.0
numpy>=1.21.0
psycopg2-binary>=2.9.0

# Special Cases
requests-html>=0.10.0
pandas-ta==0.3.14b0  # Must use beta version for Py3.10